#nav-bar{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 25%;
    /* background-color: brown; */
    position: fixed;
}

#nav-home{
    background-color: beige;
}

#nav-about{
    background-color: blue;
}

#nav-skills{
    background-color:brown;
}

#nav-projects{
    background-color: blue;
}

.round-img{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 40vh;
    margin-left: 35vh;
    max-width: 400px;
    max-height: 400px;
}

.cards_display{
    display : grid;
    /* background-color: aqua; */
    grid-template-rows: 1fr ;
    min-height: 99vh;
}

#home{
    background-color: yellow;
}

#about{
    background-color: blueviolet;
}

#skills{
    background-color: bisque;
}

#projects{
    background-color: blue;
}

.footer-container{
    background-color: aquamarine;
}

.margin-top-bottom{
    margin-top: 30px;
    margin-left: 30px;
}


.footer{
    width: 50px;
    height: 50px;
}





